<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset=utf-8" />
    <title>{% block title %}Symblog{% endblock %} - Symblog</title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block stylesheets %}
        <link href='http://fonts.googleapis.com/css?family=Irish+Grover' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
        {% stylesheets
        'css/*'
        %}
        <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
        {% endstylesheets %}
    {% endblock %}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

<section id="wrapper">
    <header id="header">
        <div class="top">
            {% block navigation %}
                <nav>
                    <ul class="navigation">
                        <li><a href="{{ path('BloggerBlogBundle_homepage') }}">Home</a></li>
                        <li><a href="{{ path('BloggerBlogBundle_about') }}">About</a></li>
                        <li><a href="{{ path('BloggerBlogBundle_contact') }}">Contact</a></li>
                    </ul>
                </nav>
            {% endblock %}
        </div>

        <hgroup style="background: url(/images/nero.jpg) no-repeat;
         font: bold 3em Arial, sans-serif;">
            <h2>{% block blog_title %}<a style=" color: #F48A00; text-shadow: lime 10px 5px 7px" href="{{ path('BloggerBlogBundle_homepage') }}">
                        Marcheloblog</a>{% endblock %}</h2>
            <h3>{% block blog_tagline %}<a  style=" color: #F48A00; font: bold 3em Arial, sans-serif; text-shadow: lime 2px 2px 2px" href="{{ path('BloggerBlogBundle_homepage') }}">
                        Блог начинающего програмиста на Symfony2</a>{% endblock %}</h3>
        </hgroup>
    </header>

    <section class="main-col">
        {% block body %}{% endblock %}
    </section>
    <aside class="sidebar">
        {% block sidebar %}{% endblock %}
    </aside>

    <div id="footer">
        {% block footer %}
            Symfony2 blog tutorial - created by <a href="https://github.com/dsyph3r">dsyph3r</a>
        {% endblock %}
    </div>
</section>

{% block javascripts %}{% endblock %}
</body>
</html>